@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background-image.png");
    background-position: center;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-cl: #fff;
    --dark_cl: #000;
    --link_cl: #00cefc;
}

.padding_one {
    padding: 0 150px;
}

.header_div {
    padding: 2rem 0;
}

.header_div > div {
    display: flex;
    align-items: center;
}

.header_div > div h4 {
    color: var(--main-cl);
    font-size: 25px;
    font-weight: 400;
    margin-left: 1rem;
}

.logo_div h2 {
    text-align: center;
    font-size: 40px;
    color: var(--main-cl);
    font-weight: 400;
}

.showcase_image_div {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    padding: 0 4rem;
}

.showcase_image_div img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}

.user_info_section {
    padding: 6rem 0;
}

.user_info_div {
    text-align: center;
}

.user_info_div h2 {
    color: var(--main-cl);
    font-size: 50px;
    font-weight: 300;
}

.user_info_div p {
    color: var(--main-cl);
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.movies img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
}

.details {
    text-align: center;
    padding: 8rem 0;
}
.details h5 {
    color: var(--main-cl);
    font-weight: 400;
    font-size: 26px;
}

.details p {
    color: var(--main-cl);
    font-weight: 400;
    margin-top: 2rem;
    font-size: 17px;
    margin-bottom: 1rem;
}

.details span {
    color: var(--link_cl);
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 1000px) {
    .user_info_section {
        padding: 2rem 0;
    }
    .user_info_div h2 {
        font-size: 30px;
    }
    .user_info_div p {
        font-size: 13px;
        letter-spacing: normal;
    }
    .movies img {
        margin-top: 0;
    }
    .details {
        padding: 3rem 0;
    }
    .details h5 {
        font-size: 20px;
    }
    .details p {
        margin: 1rem;
    }
    .header_div {
        padding: 1rem;
    }
    .logo_div h2 {
        font-size: 20px;
    }
    .header_div > div h4 {
        font-size: 15px;
    }
    .header_div img {
        width: 30px;
        height: auto;
    }
    .showcase_image_div {
        margin: 2rem 0;
    }
}

@media (max-width: 700px) {
    .padding_one {
        padding: 0 60px;
    }
    .details h5 {
        font-size: 14px;
    }
    .details span {
        font-size: 12px;
    }
    .details p {
        margin: 0.4rem 0;
    }
    .user_info_div p br {
        display: none;
    }
    .user_info_div p {
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .padding_one {
        padding: 0 10px;
    }
}
