<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>forget-password</title>

      <link rel="stylesheet" href="/stylesheets/forget-password.css">
</head>

<body>
      <spacer size="16"></spacer>
      <container>
            <row class="header">
                  <columns>
                        <spacer size="16"></spacer>
                  </columns>
            </row>
            <row>
                  <columns>
                        <spacer size="32"></spacer>
                        <center>
                              <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                          <g fill="#F0BD1D" transform="translate(34.148472, 0.000000)">
                                                <path
                                                      d="M108.371179,70.9 C108.371179,31.8 76.4323144,0.1 37.1615721,0.1 L37.1615721,10.4 C46.6026201,10.4 55.5414847,12.5 63.5764192,16.4 C66.1877729,17.7 68.7991266,19.1 71.209607,20.8 C75.2270742,23.5 78.9432314,26.7 82.2576419,30.3 C83.5633188,31.7 84.768559,33.2 85.9737991,34.8 C87.6812227,37.1 89.2882096,39.6 90.6943231,42.2 C92.1004367,44.8 93.3056769,47.5 94.3100437,50.2 C96.720524,56.7 98.0262009,63.7 98.0262009,71 L98.0262009,71.1 L108.371179,70.9 C108.371179,71 108.371179,70.9 108.371179,70.9 L108.371179,70.9 L108.371179,70.9 Z">
                                                </path>
                                                <path
                                                      d="M37.1615721,73.1 C16.6724891,73.1 0,89.7 0,110.1 L0,111.3 C9.84279476,120.3 22.7991266,125.7 37.1615721,125.7 C51.5240175,125.7 64.4803493,120.2 74.3231441,111.3 L74.3231441,110.1 C74.3231441,89.7 57.650655,73.1 37.1615721,73.1 L37.1615721,73.1 L37.1615721,73.1 Z">
                                                </path>
                                                <ellipse cx="37.1615721" cy="48.2" rx="20.3886463" ry="20.3"></ellipse>
                                          </g>
                                          <path d="M132.074236,74.1 C131.873362,77.2 131.572052,80.2 130.868996,83.2 C130.668122,84.2 130.467249,85.2 130.165939,86.1 C129.663755,88 129.061135,89.9 128.358079,91.8 C127.353712,94.6 126.148472,97.3 124.742358,99.8 C123.336245,102.4 121.729258,104.8 120.021834,107.2 C108.873362,122 91.1965066,131.5 71.209607,131.5 C48.1091703,131.5 28.0218341,118.7 17.6768559,99.8 C12.9563319,91.2 10.3449782,81.4 10.3449782,70.9 L10.3449782,70.8 C10.3449782,61.9 12.3537118,53.4 15.768559,45.8 C16.371179,44.5 16.9737991,43.2 17.6768559,42 C18.580786,40.3 19.5851528,38.6 20.6899563,37 C22.8995633,33.8 25.4104803,30.8 28.1222707,28 C30.8340611,25.3 33.8471616,22.8 37.1615721,20.6 C38.768559,19.5 40.4759825,18.5 42.1834061,17.6 C43.3886463,16.9 44.6943231,16.3 46,15.7 C53.6331878,12.2 62.1703057,10.3 71.209607,10.3 L71.209607,0 C31.9388646,0 0.100436681,31.7 0,70.8 L0,70.9 C0,110 31.8384279,141.8 71.209607,141.8 C110.580786,141.8 142.419214,110.1 142.419214,70.9 L132.074236,70.9 C132.174672,72 132.174672,73.1 132.074236,74.1 L132.074236,74.1 L132.074236,74.1 Z"
                                                fill="#207C9D"></path>
                                    </g>
                              </svg>
                        </center>
                        <spacer size="16"></spacer>
                        <h1 class="text-center heading">Forgot Your Password?</h1>
                        <spacer size="16"></spacer>
                        <p class="textcenter text_center">It happens. Click the link below to reset your password.</p>
                        <button class="large expend" href="#">RESET PASSWORD</button>
                        <p class="textcenter para_second">If you did not request your password, please let us know
                              immediately by replying to this email.</p>
                        <p style="font-family:Lato,sans-serif"></p>
                  </columns>
            </row>
            <table class="table_heading_body">
                  <tbody>
                        <tr>
                              <td>
                                    <table align="center" cellpadding="0" cellspacing="0" class="email-footer">
                                          <tbody>
                                                <tr>
                                                      <td align="center" class="content-cell">
                                                            <p align="center" class="sub align-center">
                                                                  <a href="https://www.pairin.com/">www.
                                                                        VIVI.com</a>&nbsp;|&nbsp;info@PAIRIN.com&nbsp;|&nbsp;855.724.7466
                                                            </p>
                                                            <p align="center" class="sub align-center sub_para">© 2019
                                                                  VIDI. All rights reserved.
                                                                  <br>2628 Walnut St&nbsp;|&nbsp;Denver, CO 80205
                                                                  <br>Manage&nbsp;preferences |&nbsp;Unsubscribe&nbsp;to
                                                                  all VIDI Emails
                                                            </p>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </td>
                        </tr>
                  </tbody>
            </table>
            <spacer size="16"></spacer>
      </container>
</body>

</html>