<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Payment success</title>
      <link rel="stylesheet" href="/stylesheets/payment-success.css">
</head>

<body>
      <header class="padding_one">
            <div class="header_div">
                  <div>
                        <img src="/images/Group 43.png" alt="logo">
                        <h4>Post Mail</h4>
                  </div>
            </div>
            <div class="logo_div">
                  <h2>LOGO</h2>
            </div>

      </header>

      <main>
            <div class="showcase_image_div">
                  <img src="/images/showcase.png" alt="">
            </div>

            <section class="user_info_section">
                  <div class="user_info_div padding_one">
                        <h2>Hi Dheeraj!</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                              <br>
                              been the industry's standard dummy text ever since the 1500s
                        </p>

                  </div>
            </section>

            <section class="movies">
                  <img src="/images/movies.png" alt="movies">
            </section>

            <section class="details ">
                  <div class="padding_one">
                        <h5>your Movie town login details</h5>
                        <p>here are your login details</p>
                        <span>bhawanishankar9717657525@gmail.com</span>
                  </div>
            </section>
      </main>
</body>

</html>